# This is Git's per-user configuration file.
[user]
	name = Chanasit
	email = kai.chr160@gmail.com
[core]
	editor = vim
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[pull]
	rebase = false
[color]
  ui = true
[color "branch"]
  current = #FEFFD2 reverse
  local = #FEFFD2
  remote = green
[color "diff"]
  meta = #FEFFD2 bold
  frag = #625CB5 bold
  old = #E96468 bold
  new = green bold
[color "status"]
  added = #FEFFD2
  changed = green
  untracked = #006AE2
